<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FrameworkSuite" parallel="tests" thread-count="2">
<listeners>
    <listener class-name = "com.example.Framework.Listeners.TestListener"/>
    <listener class-name = "com.example.Framework.Listeners.TransformAnnotation"/>
    <!-- <listener class-name="io.qameta.allure.testng.AllureTestNg"/> -->
</listeners>
<test name="Chrome">
    <parameter name = "browser" value = "chrome"/>
    <classes>
        <!-- <class name="com.example.Framework.Test.RegisterationTest"/> -->
        <class name="com.example.Framework.Test.LoginTest"/>
    </classes>
</test>

</suite>